main {
    width: 90%;
}

.container, .row {
    padding: 70px 0;
}

.img-container {
    margin: 50px 0;
}
h1 {
    width: 70%;
    margin: auto;
    text-align: left;
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
}

.row {
    display: flex;
}

.col {
    width: 50%;
}

div p {
    text-align: left;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}

h2 {
    font-size: 47px;
    line-height: 57px;
    font-weight: 400;
    margin: 30px 0;
}

.ramen-container {
    width: 50%;
    margin: 30px auto;
}

.img-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 50px 0;
}

@media screen  and (max-width: 600px) {
    main {
        width: 100%;
    }
    h1 {
        width: 100%;
        font-size: 21px;
        line-height: 36px;
    }

    .row {
        flex-direction: column;
    }
    .col {
        width: 100%;
    }
    .col p {
        margin-top: 30px;
    }
    h2 {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        margin: 30px 0;
    }


    .img-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 0;
    }

}